<a href="https://colab.research.google.com/github/chandan-nagaraju/python/blob/main/2_pyhton_sets_dictionaries_and_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets
a set is an unordered collection of data's that is iterable, mutable and it has no duplicate elements.

In [ ]:
##defining empty sets
set_1=set()
type(set_1)

set

In [ ]:
set_1={"bike","car", "bus"}
print(set_1)
print(type(set_1))

{'car', 'bus', 'bike'}
<class 'set'>

In [ ]:
#set doesnot support indexing to reterive data 
#inbuilt function in sets
set_1.add("hulk")

In [ ]:
set_1

{'bike', 'bus', 'car', 'hulk'}

In [ ]:
set_2={'Car',"bus","bike", "lorry"}

In [ ]:
#differences
print(set_1.difference(set_2))
#intersection
set_1.intersection(set_2)
print(set_1)
#union
set_2.union(set_1)
print(set_2)

{'car', 'hulk'}
{'car', 'hulk', 'bus', 'bike'}
{'Car', 'bus', 'lorry', 'bike'}

# DICTIONARIES
a dictionarry is a collection of keys and values.

a dictionary can be unordered, changeable and indexed.

In [ ]:
dic={}

In [ ]:
type(dic)

dict

In [ ]:
#defining a dictionary
dict_1={"bike1":"KTM", "bike2":"Royal enfield", "bike3":"R15"}

In [ ]:
dict_1

{'bike1': 'KTM', 'bike2': 'Royal enfield', 'bike3': 'R15'}

In [ ]:
#accesing the items
dict_1["bike1"]

'KTM'

In [ ]:
#defining an other key and values into dictionary
dict_1["bike4"]="FZ"

In [ ]:
dict_1

{'bike1': 'KTM', 'bike2': 'Royal enfield', 'bike3': 'R15', 'bike4': 'FZ'}

In [ ]:
# writing a loop to find keys 
for x in dict_1.keys():
  print(x)

bike1
bike2
bike3
bike4

In [ ]:
#writing a loop to find values
for x in dict_1.values():
  print(x)

KTM
Royal enfield
R15
FZ

In [ ]:
#looping using dictionaries
#to print both keys and values in dictionaries we should call items() included in it.
for x, y in dict_1.items():
  print(x.capitalize(),":",y.upper())

Bike1 : KTM
Bike2 : ROYAL ENFIELD
Bike3 : R15
Bike4 : FZ

# NESTED DICTIONARIES

In [ ]:
bike1_model={"KTM":"2019"}
bike2_model={"Royal enfield":"2018"}
bike3_model={"R15":"2017"}
bike4_model={"FZ":"2016"}

In [ ]:
bike_type={'bike1':bike1_model,"bike2":bike2_model,"bike3":bike3_model,"bike4":bike4_model}

In [ ]:
print(bike_type)

{'bike1': {'KTM': '2019'}, 'bike2': {'Royal enfield': '2018'}, 'bike3': {'R15': '2017'}, 'bike4': {'FZ': '2016'}}

In [ ]:
bike_type["bike1"]

{'KTM': '2019'}

In [ ]:
bike_type["bike1"]["KTM"]

'2019'

# COUNTER
Special dictionary used for counting data, measuring
frequency

In [67]:
from collections import Counter

In [69]:
tuple_1

[(1, 'red'), (2, 'blue'), (3, 'green'), (4, 'yellow'), (5, 'white')]

In [70]:
count_1=Counter(tuple_1)

In [71]:
count_1

Counter({(1, 'red'): 1,
         (2, 'blue'): 1,
         (3, 'green'): 1,
         (4, 'yellow'): 1,
         (5, 'white'): 1})

# Tuples
tuples are opposite of lists

its is immutable

tuples hold data in order

tuples are unpackable

In [ ]:
list_1=[1,2,3,4,5]
list_2=["red","blue","green","yellow","white"]

In [ ]:
#zipping tuples : tuples are commonly created by zipping lists together with Zip()
tuple_1= list(zip(list_1,list_2))

In [ ]:

tuple_1

[(1, 'red'), (2, 'blue'), (3, 'green'), (4, 'yellow'), (5, 'white')]

In [ ]:
#tuple_1 will be list
type(tuple_1)

list

In [ ]:
# elements inside the list of tuple_1 are tuple
type(tuple_1[0])

tuple

In [ ]:
#unpacking in tuple
num,color=tuple_1[0]
print(num)
print(color)

1
red

In [ ]:
#unpacking tuples using loops
for num, color in tuple_1:
  print(num)
  print(color)

1
red
2
blue
3
green
4
yellow
5
white

#Enumerating positions
Another useful tuple creation method is the enumerate()
function

Enumeration is used in loops to return the position and the
data in that position while looping

In [ ]:
for i, data in enumerate(tuple_1):
  list_1, list_2 = data
  print(i,list_1, list_2)

0 1 red
1 2 blue
2 3 green
3 4 yellow
4 5 white

*we can use zip(), enumerate() and () to make tuple